*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: Nunito, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.todo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  background-color: lavenderblush;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f8eaf1;
  font-size: 16px;

  &__sidebar{
  background-color: pink;
  width: 200px;
  height: calc(100% - 120px);
  border-right: 1px solid #f8eaf1;
  padding: 60px 20px;
  border-radius: 10px;

  }
}

.field{
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus{
    border-color: salmon;
  }
}

.button{
  background: rgb(250, 150, 150);
  border-radius: 4px;
  color:  #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover{
    background: darken(rgb(250, 150, 150), 10%);
  }

  &:active{
    background: darken(rgb(250, 150, 150), 20%);
  }

}